@page
@model Gallery.GalleryListModel
@{
    ViewData["Title"] = "GalleryList";
}

<h1>GalleryList</h1>

    @foreach (var x in Model.galleries)
    {
        <a asp-page="ViewGallery" asp-route-galleryId="@x.GalleryId">@x.Name</a>
        <br />
    }
    <hr />
    <a asp-page="index">Back to home page</a>
    <br />
    <a asp-page="GalleryCreation">Create new gallery</a>

    <p>Please log in.</p>



