@page
@model Gallery.ViewGalleryModel
@{
    ViewData["Title"] = "ViewGallery";
}

<h1>@Model.GalleryName</h1>


    @foreach (var x in Model.images)
    {
        <div style="align-content: center; border: solid; border-radius:3px; width: 49%; margin-bottom:3px;">
            <a asp-page="ViewGallery" asp-route-galleryId="@x.GalleryId">
                <img style="width: 100%" src="@x.Source" />
            </a>
        </div>
    }
    <br />
    <hr />
    <a asp-page="AddImage" asp-route-galleryId="@Model.GalleryId">Add new image to gallery</a>
    <br />
    <hr />
    <a asp-page="GalleryList">Back to gallery list</a>
    <br />
    <a asp-page="index">Back to home page</a>

    <p>Please log in.</p>
